// Not recommended to run keymapper as root,
// Provide full correct-cmdline e.g /usr/bin/invoker -s -n -d 5 --type=silica-media,silica-qt5 -A -- /usr/bin/jolla-camera
// Otherwise the process will never die
// seq is the order of operation. If one press, then seq 1 will exec. If 2 very fast pressess, then seq 2 will exec. 

name = "TEST CONFING";
keymap = {
        assist_button_1 = {
        		seq = 1;
                proc = "Camera Starting...";
                trigger = 457;
                process_name = "/usr/bin/jolla-camera";
                cmd = "/usr/bin/invoker -s -n -d 5 --type=silica-media,silica-qt5 -A -- /usr/bin/jolla-camera";
        };
        assist_button_2 = {
        		seq = 2;
                proc = "Second CMD";
                trigger = 457;
                process_name = "";
                cmd = "";
        };
};